$work: #ff031b;
@mixin thumb($bg-color: $work) {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: $bg-color;
  &:focus {
    outline-style: none;
  }
}

@mixin track($border-color: $work) {
  height: 40px;
  border: 2px solid $border-color;
  border-radius: 20px;
}

.thumb-work {
  @include thumb();
}
.thumb-relax {
  @include thumb(#01e888);
}
.track-work {
  @include track();
}
.track-relax {
  @include track(#01e888);
}
